/*
============================
          niceSize
github.com/niceSize/niceSize
============================
*/

#niceSize{
	--vwMultiplier: 2;
	--remMultiplier: 1;
	height: 100vh;
	--maxWidthMobileSite: 637px;
	--mobileSiteScalingRatio: 2;
}
