html, body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background-color: #fff;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  position: absolute;
	top: calc(var(--nSMaxWidth) * 5);
  width: 100%;
}

#loadingScreen{
	position: fixed;
  top: 0;
  left: 0;
	display: flex;
  justify-content: center;
	height: 100%;
	width: 100%;
  z-index: 2;
	align-items: center;
  background-color: #fff;
}

#loadingScreen.hide{
	visibility: hidden;
	opacity: 0;
	transition: .25s;
}

#loader{
	position: fixed;
	border: calc(var(--nSMaxWidth) * .25) solid #f3f3f3;
	border-top: calc(var(--nSMaxWidth) * .25) solid #037add;
	border-radius: 50%;
	width: calc(var(--nSMaxWidth) * 2.5);
	height: calc(var(--nSMaxWidth) * 2.5);
	left: calc(calc(100% - calc(var(--nSMaxWidth) * 2.5)) / 2);
	animation: spin 1.5s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

noscript{
	position: relative;
	display: flex;
  flex-direction: column;
  align-items: center;
	top: calc(var(--nSMaxWidth) * 6);
	color: #037add;
	font-size: calc(var(--nSMaxWidth) * 1.45);
}

noscript a{
  border-radius: calc(var(--nSMaxWidth) * .25);
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #037add;
  font-size: calc(var(--nSMaxWidth) * 2);
  padding: calc(var(--nSMaxWidth) * 1);
  margin-top: calc(var(--nSMaxWidth) * 1);
}

noscript a:hover{
    background-color: #036dc5;
}

header {
  position: fixed;
  top: 0;
  box-shadow: 0 0 calc(var(--nSMaxWidth) * 1) 0 rgba(0,0,0,.1);
  width: 100%;
  height: calc(var(--nSMaxWidth) * 5);
  background-color: #fff;
  z-index: 1;
}

header a{
  height: 100%;
	display: flex;
	align-items: center;
  text-decoration: none;
  color: #037add;
  font-size: calc(var(--nSMaxWidth) * 1.25);
}

#logo{
  display: flex;
  float: left;
  height: 100%;
}

#logo img {
  height: 100%;
  margin: 0 calc(var(--nSMaxWidth) * .5);
}

#logo a{
  font-size: calc(var(--nSMaxWidth) * 3);
}

nav{
  display: flex;
  align-items: center;
  float: left;
  height: 100%;
  margin-left: calc(var(--nSMaxWidth) * .5);
}

nav a{
  padding: 0 calc(var(--nSMaxWidth) * .5);
}

#languageChooser{
  display: flex;
  align-items: center;
  float: right;
  height: 100%;
}

#languageChooser a{
  padding: 0 calc(var(--nSMaxWidth) * .5);
  background-color: #fff;
  z-index: 1;
}

#languageChooserBar{
  height: calc(var(--nSMaxWidth) * 2);
  width: calc(var(--nSMaxWidth) * .15);
  background-color: #037add;
  border-top: calc(var(--nSMaxWidth) * 1.5) solid #fff;
  border-bottom: calc(var(--nSMaxWidth) * 1.5) solid #fff;
  z-index: 1;
}

#headerDownload{
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  height: 100%;
  width: calc(var(--nSMaxWidth) * 14);
}

#headerDownload a{
  position: relative;
  justify-content: center;
  background-color: #037add;
  color: #fff;
  border-radius: calc(var(--nSMaxWidth) * .25);
  width: calc(var(--nSMaxWidth) * 13);
  height: calc(var(--nSMaxWidth) * 4);
  z-index: 0;
}

#headerDownload a:hover{
  background-color: #036dc5;
}

#pageContent{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#pageContentText{
  display: flex;
  width: 50%;
  height: calc(calc(var(--nSHeight) * 100) - calc(var(--nSMaxWidth) * 26.5));
  min-height: calc(var(--nSMaxWidth) * 25);
  flex-direction: column;
  justify-content: center;
  color: #037add;
}

#pageContentTextHeading{
  font-size: calc(var(--nSMaxWidth) * 4.5);
  line-height: calc(var(--nSMaxWidth) * 4.5);
  width: calc(var(--nSMaxWidth) * 16);
  margin-left: calc(calc(100% - calc(var(--nSMaxWidth) * 33)) / 2);
}

#pageContentTextMain{
  margin-top: calc(var(--nSMaxWidth) * .5);
  font-size: calc(var(--nSMaxWidth) * 2);
  width: calc(var(--nSMaxWidth) * 33);
  height: calc(var(--nSMaxWidth) * 17.5);
  margin-left: calc(calc(100% - calc(var(--nSMaxWidth) * 33)) / 2);
}

#pageContentTextMain a{
  position: relative;

  text-decoration: none;
  color: #037add;
}

#pageContentImg{
  display: flex;
  justify-content: center;
  height: calc(calc(var(--nSHeight) * 100) - calc(var(--nSMaxWidth) * 26.5));
  min-height: calc(var(--nSMaxWidth) * 25);
  width: 50%;
}

#pageContentImg img{
  height: 100%;
  width: 100%;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(var(--nSMaxWidth) * 21.5);
  background-color: #fff;
}

#footerDownload{
  margin-bottom: calc(var(--nSMaxWidth) * 4);
  display: flex;
  height: calc(var(--nSMaxWidth) * 12.5);
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #037add;
  background-image: url("../img/footerDownload.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#footerDownloadHeading{
  font-size: calc(var(--nSMaxWidth) * 2.5);
  color: #fff;
}

#footerDownload a{
    display: flex;
    border-radius: calc(var(--nSMaxWidth) * .25);
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #037add;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--nSMaxWidth) * 1.75);
    width: calc(var(--nSMaxWidth) * 17);
    height: calc(var(--nSMaxWidth) * 4.5);
    margin-top: calc(var(--nSMaxWidth) * 1);
    border: calc(var(--nSMaxWidth) * .175) solid #fff;
}

#footerDownload a:hover{
  background-color: #fff;
  color: #037add;
}

#footerContent{
  display: flex;
  height: calc(var(--nSMaxWidth) * 5);
  width: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

#footerContent a{
  cursor: pointer;
  text-decoration: none;
  color: #037add;
  font-size: calc(var(--nSMaxWidth) * 1.75);
  margin: calc(var(--nSMaxWidth) * .5);
}

@media screen and (max-width: 100rem) and (min-width: 638px){
  body{--nSMaxWidth: 1vw;}
}

@media screen and (min-width: 100rem) and (min-width: 638px){
  body{--nSMaxWidth: 1rem;}
}

@media screen and (max-width: 637px) and (max-aspect-ratio: 1/1){
  body{--nSMaxWidth: 2.5vw;}
}

@media screen and (max-width: 637px) and (min-aspect-ratio: 1/1){
  body{--nSMaxWidth: 2.5vh;}
}

@media screen and (max-width: 637px) {
  #headerDownload{
    width: 0;
  }
  #headerDownload a{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    border-top-left-radius: calc(var(--nSMaxWidth) * .25);
    border-top-right-radius: calc(var(--nSMaxWidth) * .25);
    height: calc(var(--nSMaxWidth) * 5);
    font-size: calc(var(--nSMaxWidth) * 2);
  }
  #pageContent{
    flex-direction: column;
  }
  #pageContentText{
    height: calc(calc(calc(var(--nSHeight) * 100) - calc(var(--nSMaxWidth) * 15)) / 2);
    width: 100%;
  }
  #pageContentImg{
    height: calc(calc(calc(var(--nSHeight) * 100) - calc(var(--nSMaxWidth) * 15)) / 2);
    width: 100%;
  }
  footer{
    height: calc(var(--nSMaxWidth) * 10);
  }
  #footerDownload{
    display: none;
  }
}
