@use '_config.scss';

body {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: calc(var(--nSMaxWidth) * 6);
  width: 100%;
}

header {
  background: var(--baseColor);
  box-shadow: 0 0 var(--nSMaxWidth) 0 rgba(0,0,0,.1);
  height: calc(var(--nSMaxWidth) * 6);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header a {
  align-items: center;
  color: var(--textColor);
  cursor: pointer;
  display: flex;
  font-size: calc(var(--nSMaxWidth) * 1.25);
  height: 100%;
  text-decoration: none;
}

#logo {
  cursor: pointer;
  float: left;
  height: 100%;
  margin: 0 0 0 calc(var(--nSMaxWidth) * .5);
}

#logo a {
  align-items: center;
  color: var(--accentColor);
  display: flex;
  font-size: calc(var(--nSMaxWidth) * 3);
  height: 100%;
}

#logo img {
  height: 80%;
}

nav {
  align-items: center;
  display: flex;
  float: left;
  height: 100%;
  margin: 0 0 0 calc(var(--nSMaxWidth) * .5);
}

nav a {
  padding: 0 calc(var(--nSMaxWidth) * .5);
  transition: .15s opacity;
}

nav a:hover {
  opacity: .75;
}

#languageChooser {
  align-items: center;
  background: var(--baseColor);
  display: flex;
  float: right;
  height: 100%;
  position: relative;
  z-index: 1;
}

#languageChooser a {
  background: var(--baseColor);
  padding: 0 calc(var(--nSMaxWidth) * .5);
  transition: .15s opacity;
}

#languageChooser a:hover {
  opacity: .75;
}

#languageChooser span {
  background: var(--textColor);
  height: calc(var(--nSMaxWidth) * 2.5);
  width: calc(var(--nSMaxWidth) * .15);
}

#headerDownload {
  align-items: center;
  display: flex;
  float: right;
  height: 100%;
  justify-content: center;
  width: calc(var(--nSMaxWidth) * 14);
}

#headerDownload a {
  background: var(--accentColor);
  border-radius: calc(var(--nSMaxWidth) * .25);
  color: var(--textColorInverted);
  cursor: pointer;
  height: calc(var(--nSMaxWidth) * 4.5);
  justify-content: center;
  transform: translate(calc(var(--nSMaxWidth) * 13.5), 0);
  visibility: hidden;
  width: calc(var(--nSMaxWidth) * 13);
  will-change: transform, visibility;
}

#headerDownload a.show {
  transform: translate(0, 0);
  transition: filter .15s, opacity .15s, transform .15s;
  visibility: visible;
}

#headerDownload a.show:hover {
  transform: scale(.975);
}

#headerDownload a.show:active {
  opacity: .75;
  transform: scale(.975);
}

#headerDownload a.animate {
  transition: transform .5s, visibility .5s;
}

#landingPage {
  align-items: center;
  display: flex;
  height: calc((var(--nSHeight) * 100) - (var(--nSMaxWidth) * 6));
  justify-content: center;
  min-height: calc(var(--nSMaxWidth) * 40);
  overflow: hidden;
  width: 100%;
}

.landingPageImg {
  display: flex;
  height: 90%;
  width: calc((calc(var(--nSWidth) * 100) - calc(var(--nSMaxWidth) * 32.5)) / 2);
  object-fit: cover;
}

.landingPageImg[data-position='left'] {
  object-position: right;
}

.landingPageImg[data-position='right'] {
  object-position: left;
}

#landingPageContent {
  align-items: center;
  background: var(--baseColor);
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  height: calc(var(--nSMaxWidth) * 40);
  justify-content: center;
}

#landingPageContent img {
  height: calc(var(--nSMaxWidth) * 10);
  width: calc(var(--nSMaxWidth) * 10);
}

#landingPageContent h1 {
  font-size: calc(var(--nSMaxWidth) * 5);
  font-weight: normal;
  line-height: calc(var(--nSMaxWidth) * 5);
}

#landingPageContent span {
  display: flex;
  font-size: calc(var(--nSMaxWidth) * 2);
  margin-top: calc(var(--nSMaxWidth) * .5);
  text-align: center;
  width: calc(var(--nSMaxWidth) * 32.5);
}

#landingPageContent a {
  align-items: center;
  background: var(--accentColor);
  border-radius: calc(var(--nSMaxWidth) * .25);
  color: var(--textColorInverted);
  cursor: pointer;
  display: flex;
  font-size: calc(var(--nSMaxWidth) * 1.75);
  height: calc(var(--nSMaxWidth) * 5);
  justify-content: center;
  margin: calc(var(--nSMaxWidth) * 2.5) 0 0 0;
  text-decoration: none;
  transition: opacity .15s, transform .15s;
  width: calc(var(--nSMaxWidth) * 17.5);
}

#landingPageContent a:hover {
  transform: scale(.975);
}

#landingPageContent a:active {
  opacity: .75;
  transform: scale(.975);
}

#landingPageScroll {
  animation: 2s ease 1s infinite landingPageScrollMovement;
  cursor: pointer;
  height: calc(var(--nSMaxWidth) * 5);
  left: calc((100% - (var(--nSMaxWidth) * 5)) / 2);
  position: absolute;
  top: calc((var(--nSHeight) * 100) - (var(--nSMaxWidth) * 14));
  visibility: hidden;
  width: calc(var(--nSMaxWidth) * 5);
}

@keyframes landingPageScrollMovement{
  0%{
    transform: translate(0, 0);
  }
  20%{
    transform: translate(0, 10%);
    /*
    transform: translate(0, calc(var(--nSMaxWidth) * .5));
    This didn't work in Chrome and Safari for no appearing reason.
    Change when it works for clearer code.
    */
  }
  40%{
    transform: translate(0, 0);
  }
  100%{
    transform: translate(0, 0);
  }
}

#landingPageScroll::before {
  background: var(--baseColor);
  border-radius: calc(var(--nSMaxWidth) * .3);
  border: calc(var(--nSMaxWidth) * .1) solid var(--baseColor);
  border-right: calc(var(--nSMaxWidth) * .35) solid var(--accentColor);
  border-top: calc(var(--nSMaxWidth) * .35) solid var(--accentColor);
  content: '';
  height: calc(var(--nSMaxWidth) * 2.5);
  left: calc(var(--nSMaxWidth) * 1.25);
  position: absolute;
  top: calc(var(--nSMaxWidth) * 1.25);
  transform: rotate(135deg);
  width: calc(var(--nSMaxWidth) * 2.5);
}

.pageContent {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: calc(var(--nSMaxWidth) * 5) 0 calc(var(--nSMaxWidth) * 5) 0;
}

.pageContentText {
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  width: calc(var(--nSMaxWidth) * 50);
}

.pageContentText h1 {
  font-size: calc(var(--nSMaxWidth) * 4.5);
  font-weight: normal;
  margin: 0 0 calc(var(--nSMaxWidth) * .5) calc(var(--nSMaxWidth) * 7.5);
  width: calc(var(--nSMaxWidth) * 35);
}

.pageContentText span {
  font-size: calc(var(--nSMaxWidth) * 2);
  margin: 0 0 0 calc(var(--nSMaxWidth) * 7.5);
  width: calc(var(--nSMaxWidth) * 35);
}

.pageContentImg {
  align-items: center;
  display: flex;
  justify-content: center;
  width: calc(var(--nSMaxWidth) * 50);
}

.pageContentImg img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--baseColor);
  height: calc(var(--nSMaxWidth) * 21);
  width: 100%;
}

#footerDownload {
  align-items: center;
  background: var(--accentColor) url('../img/footerDownload.svg') center /contain no-repeat;
  display: flex;
  flex-direction: column;
  height: calc(var(--nSMaxWidth) * 12.5);
  justify-content: center;
  margin: 0 0 calc(var(--nSMaxWidth) * 3.5) 0;
  width: 100%;
}

#footerDownload h1 {
  color: var(--textColorInverted);
  font-size: calc(var(--nSMaxWidth) * 2.5);
  font-weight: normal;
}

#footerDownload a {
  align-items: center;
  background: var(--accentColor);
  border-radius: calc(var(--nSMaxWidth) * .25);
  border: calc(var(--nSMaxWidth) * .175) solid var(--textColorInverted);
  color: var(--textColorInverted);
  cursor: pointer;
  display: flex;
  font-size: calc(var(--nSMaxWidth) * 1.75);
  height: calc(var(--nSMaxWidth) * 4.5);
  justify-content: center;
  margin: calc(var(--nSMaxWidth) * 1) 0 0 0;
  text-decoration: none;
  transition: background-color .15s, color .15s,  opacity .15s;
  width: calc(var(--nSMaxWidth) * 17);
}

#footerDownload a:hover {
  background: var(--textColorInverted);
  color: var(--accentColor);
}

#footerDownload a:active {
  background: var(--textColorInverted);
  color: var(--accentColor);
  opacity: .75;
}

#footerContent {
  align-items: center;
  background: var(--baseColor);
  display: flex;
  height: calc(var(--nSMaxWidth) * 5);
  justify-content: center;
  width: 100%;
}

#footerContent a {
  display: flex;
  width: calc(var(--nSMaxWidth) * 1.75);
  height: calc(var(--nSMaxWidth) * 1.75);
  margin-left: var(--nSMaxWidth);
  cursor: pointer;
  transition: .15s opacity;
}

#footerContent a:first-of-type {
  margin-left: 0;
}

#footerContent a:hover {
  opacity: .75;
}

#footerContent a img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media screen and (prefers-color-scheme: dark) {
  #footerDownload {
    background: var(--baseColor) url('../img/footerDownloadDarkMode.svg') center /contain no-repeat;
  }

  #footerDownload a {
    background: var(--textColorInverted);
    border: calc(var(--nSMaxWidth) * .175) solid var(--accentColor);
    color: var(--accentColor);
  }

  #footerDownload a:hover {
    background: var(--accentColor);
    color: var(--textColorInverted);
  }

  #footerDownload a:active {
    background: var(--accentColor);
    color: var(--textColorInverted);
    opacity: .75;
  }
}

@media screen and (min-width: (config.$mobile + 1)) and (min-height: 61rem){
  #landingPageScroll{
    visibility: visible;
  }
}

@media screen and (min-width: (config.$mobile + 1)) and (min-height: 61vw){
  #landingPageScroll{
    visibility: visible;
  }
}

@media (max-width: config.$mobile){
  #languageChooser a {
    z-index: 0;
  }

  #languageChooserBar {
    z-index: 0;
  }

  #headerDownload a {
    border-radius: calc(var(--nSMaxWidth) * .25) calc(var(--nSMaxWidth) * .25) 0 0;
    bottom: 0;
    font-size: calc(var(--nSMaxWidth) * 2);
    height: calc(var(--nSMaxWidth) * 5);
    left: 0;
    position: fixed;
    transform: translate(0, calc(var(--nSMaxWidth) * 7.5));
    width: 100%;
  }

  #headerDownload a.show {
    transform: translate(0, 0);
    visibility: visible;
  }

  #headerDownload a.show:hover,
  #headerDownload a.show:active {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    filter: brightness(.9);
  }

  #landingPage {
    min-height: calc(var(--nSMaxWidth) * 34);
  }

  #landingPageContent {
    height: calc(var(--nSMaxWidth) * 34);
  }

  #landingPageContentMain {
    font-size: calc(var(--nSMaxWidth) * 1.75);
  }

  #landingPageContent a {
    margin-top: var(--nSMaxWidth);
  }

  .pageContent {
    flex-direction: column;
    margin: 0;
  }

  .pageContent.reverse {
    flex-direction: column-reverse;
  }

  .pageContentText {
    width: 100%;
    margin: calc(var(--nSMaxWidth) * 2.5) 0 calc(var(--nSMaxWidth) * 2.5) 0;
  }

  .pageContentText h1 {
    margin: 0 0 calc(var(--nSMaxWidth) * .5) calc(var(--nSMaxWidth) * 2.5);
  }

  .pageContentText span {
    margin: 0 0 0 calc(var(--nSMaxWidth) * 2.5);
  }

  .pageContentImg {
    width: 100%;
  }

  .pageContentImg img {
    max-width: 90%;
  }

  footer {
    height: calc(var(--nSMaxWidth) * 10);
  }

  #footerDownload {
    display: none;
  }
}

@media screen and (max-width: config.$mobile) and (max-aspect-ratio: 5/7){
  #landingPageScroll{
    visibility: visible;
  }
}
