html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  box-shadow: 0 0 calc(var(--nSMaxWidth) * 1) 0 rgba(0,0,0,0.1);
  width: calc(var(--nSWidth) * 100);
  height: calc(var(--nSMaxWidth) * 5);
  background-color: blue;
}

header a{
  cursor: default;
  text-decoration: none;
  color: #037add;
  font-size: calc(var(--nSMaxWidth) * 3);
}

#logo{
  float: left;
  height: calc(var(--nSMaxWidth) * 5);
  display: flex;
}

#logo img {
  height: 100%;
}

nav{
  float: right;
  height: calc(var(--nSMaxWidth) * 5);
}
