html, body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background-color: rgba(255,255,255,1);
}

body {
  font-family: "Roboto", sans-serif;
}

#loadingScreen{
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	align-items: center;
  background-color: white;
}

#loadingScreen.hide{
	visibility: hidden;
	opacity: 0;
	transition: .25s;
}


#loader{
	position: fixed;
	border: calc(var(--nSMaxWidth) * .25) solid #f3f3f3;
	border-top: calc(var(--nSMaxWidth) * .25) solid #3498db;
	border-radius: 50%;
	width: calc(var(--nSMaxWidth) * 2.5);
	height: calc(var(--nSMaxWidth) * 2.5);
	left: calc(calc(100% - calc(var(--nSMaxWidth) * 2.5)) / 2);
	animation: spin 1.5s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

noscript{
	position: relative;
	display: block;
	width: 100%;
	top: calc(var(--nSMaxWidth) * 6);
	color: #037add;
	font-size: calc(var(--nSMaxWidth) * 1.45);
	text-align: center;
}

noscript a{
  display: inline-flex;
  border-radius: calc(var(--nSMaxWidth) * .5);
  cursor: default;
  text-decoration: none;
  color: white;
  background-color: #037add;
  font-size: calc(var(--nSMaxWidth) * 2);
  padding: calc(var(--nSMaxWidth) * 1);
  margin-top: calc(var(--nSMaxWidth) * 1);
}

@media screen and (max-width: 100rem) and (min-width: 638px){
  #loader, noscript{--nSMaxWidth: 1vw;}
}
@media screen and (min-width: 100rem) and (min-width: 638px){
  #loader, noscript{--nSMaxWidth: 1rem;}
}
@media screen and (max-width: 637px) and (max-aspect-ratio: 1/1){
  #loader, noscript{--nSMaxWidth: 2vw;}
}

@media screen and (max-width: 637px) and (min-aspect-ratio: 1/1){
  #loader, noscript{--nSMaxWidth: 2vh;}
}

header {
  position: fixed;
  box-shadow: 0 0 calc(var(--nSMaxWidth) * 1) 0 rgba(0,0,0,.25);
  width: 100%;
  height: calc(var(--nSMaxWidth) * 5);
  background-color: blue;
  z-index: 1;
}

header a{
  height: 100%;
	display: flex;
	align-items: center;
  text-decoration: none;
  color: #037add;
  font-size: calc(var(--nSMaxWidth) * 2);
  margin: 0 calc(var(--nSMaxWidth) * .5);
}

#logo{
  display: flex;
  position: relative;
  float: left;
  height: 100%;
  background-color: green;
  margin: 0;
}

#logo img {
  height: 100%;
  margin: 0 calc(var(--nSMaxWidth) * .5);
}

#logo a{
  font-size: calc(var(--nSMaxWidth) * 3);
  margin: 0;
}

nav{
  display: flex;
  float: right;
  height: 100%;
  background-color: yellow;
}

#navDownload{
  display: block;
  text-align: center;
  line-height: calc(var(--nSMaxWidth) * 5);
  background-color: red;
  border-radius: .5vw;
  width: 0vw;
  margin: 0;
  visibility: hidden;;
}

#navDownload.show{
  width: 9vw;
  visibility: visible;
}

#navDownload.animate{
  transition: width .5s, visibility .5s;
}

main{
  height: 200vh
}
