html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
}

header {
  display: flex;
  align-items: center;
  width: 100vw;
  height: calc(var(--nSMaxWidth) * 5);
  background-color: blue;
}

#logo1 {
  height: 90%;
}
