html, body {
  padding: 0;
  margin: 0;
  overflow-x:hidden;
  background-color: rgba(255,255,255,1);
}

body {
  font-family: Roboto, sans-serif;
}

header {
  position: fixed;
  box-shadow: 0 0 calc(var(--nSMaxWidth) * 1) 0 rgba(0,0,0,0.1);
  width: 100%;
  height: calc(var(--nSMaxWidth) * 5);
  background-color: blue;
  z-index: 5;
}

header a{
  height: 100%;
	display: flex;
	align-items: center;
  cursor: default;
  text-decoration: none;
  color: #037add;
  font-size: calc(var(--nSMaxWidth) * 2);
  padding: 0 calc(var(--size) * .5);
}

#logo{
  float: left;
  height: calc(var(--nSMaxWidth) * 5);
  background-color: green;
}

#logo img {
  height: 100%;
}

#logo a{
  font-size: calc(var(--nSMaxWidth) * 3);
}

nav{
  float: right;
  height: calc(var(--nSMaxWidth) * 5);
}
