/*
============================
          niceSize
github.com/niceSize/niceSize
============================
*/

#niceSize {
	--maxWidthMobileSite: 637px;
	--mobileSiteScalingRatio: 2.5;
	--remMultiplier: 1;
	--vwMultiplier: 1;
	height: 100vh;
}
